<div class="card shadow card-noborder">
    <div class="card-body">
        <div class="card-titlebox justify-content-center">
            <h1 class="card-title">New course</h1>
        </div>

        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="row">                
                <div class="col-md-6 offset-md-3">
                    <app-file-upload [file]="form.get('thumbnail').value"
                                     (onFinish)="form.get('thumbnail').setValue($event)"></app-file-upload>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Topic" formControlName="topic">
                        <mat-error *ngIf="hasError('topic')">
                            Field is invalid
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Topic (Chinese)" formControlName="topic_ch">
                        <mat-error *ngIf="hasError('topic_ch')">
                            Field is invalid
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Material" formControlName="material">
                        <mat-error *ngIf="hasError('material')">
                            Field is invalid
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="w-100">
                        <mat-select formControlName="category" placeholder="Category">
                            <mat-option *ngFor="let i of admin_course_categories" [value]="i.name">
                                <img [src]="i.picture | s3Storage" width="4%"/>{{i.name}}
                            </mat-option>
                            <!--<mat-option *ngFor="let i of categories$ | async" [value]="i">-->
                            <!--{{i}}-->
                            <!--</mat-option>-->
                        </mat-select>
                        <mat-error *ngIf="hasError('category')">
                            Field is invalid
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-12">
                    <mat-form-field class="w-100">
                        <textarea matInput placeholder="Description" formControlName="description"></textarea>
                        <mat-error *ngIf="hasError('description')">
                            Field is invalid
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-12">
                    <mat-form-field class="w-100">
                        <textarea matInput placeholder="Description (Chinese)" formControlName="description_ch"></textarea>
                        <mat-error *ngIf="hasError('description_ch')">
                            Field is invalid
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Min age" formControlName="min_age">
                        <mat-error *ngIf="hasError('min_age')">
                            Field is invalid
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Max age" formControlName="max_age">
                        <mat-error *ngIf="hasError('max_age')">
                            Field is invalid
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- <div class="col-md-6">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Session duraction (in minutes)" formControlName="session_duration">
                        <mat-error *ngIf="hasError('session_duration')">
                            Field is invalid
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field class="w-100">
                        <mat-select formControlName="total_sessions" placeholder="Total sessions">
                            <mat-option *ngFor="let i of _range(15)" [value]="i">
                                {{i}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="hasError('total_sessions')">
                            Field is invalid
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-form-field class="w-100">
                        <mat-select formControlName="max_students" placeholder="Max students">                
                            <mat-option *ngFor="let i of max_students" [value]="i">
                                {{i}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="hasError('max_students')">
                            Field is invalid

                        </mat-error>
                    </mat-form-field>
                </div> -->

                <div class="col-md-4">
                    <mat-form-field class="w-100">
                        <mat-select formControlName="language" placeholder="Language of Instruction">
                            <mat-option *ngFor="let i of ['English', 'Chinese', 'Spanish', 'Japanese']" [value]="i">
                                {{i}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="hasError('language')">
                            Field is invalid
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-form-field class="w-100">
                        <mat-select formControlName="language_skill" placeholder="Language skill">
                            <mat-option *ngFor="let i of [1,2,3]" [value]="i">
                                {{i | levels}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="hasError('language_skill')">
                            Field is invalid
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-form-field class="w-100">
                        <mat-select formControlName="skill" placeholder="Course Skill">
                            <mat-option *ngFor="let i of skills$ | async" [value]="i">
                                {{i}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="hasError('skill')">
                            Field is invalid
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-form-field class="w-100">
                        <mat-select formControlName="skill_level" placeholder="Course Skill Level">
                            <mat-option *ngFor="let i of [1,2,3]" [value]="i">
                                {{i | levels}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="hasError('skill_level')">
                            Field is invalid
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-form-field class="w-100">
                        <mat-select formControlName="provider" placeholder="Class Platform">
                            <mat-option *ngFor="let i of ['zoom', 'classin']" [value]="i">
                                {{i | titlecase}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="hasError('provider')">
                            Field is invalid
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- <div class="col-md-6">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Default credits per session" formControlName="credits_per_session">
                        <mat-error *ngIf="hasError('credits_per_session')">
                            Field is invalid
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Default teacher rate per session"
                               formControlName="teacher_rate_per_session">
                        <mat-error *ngIf="hasError('teacher_rate_per_session')">
                            Field is invalid
                        </mat-error>
                    </mat-form-field>
                </div>             -->

                <div class="col-md-4 offset-md-4">
                    <button type="submit" class="btn btn-primary btn-block btn-lg mt-3">
                        <span *ngIf="isLoading"><i class="fas fa-spinner fa-spin"></i></span>
                        <span *ngIf="!isLoading">Create</span>
                    </button>
                </div>

            </div>
        </form>
    </div>
</div>
