<div class="card shadow w-100">
    <div class="card-body">
        <h2 class="text-center card-title"><strong i18n>Forgot password</strong></h2>
        <ng-template [ngIf]="code">
            <form [formGroup]="passForm" (ngSubmit)="submitPassword()">
                <mat-form-field class="w-100">
                    <input type="password" matInput placeholder="New password" i18n-placeholder
                           formControlName="password">
                    <mat-error i18n *ngIf="passForm.get('password').invalid && passForm.get('password').touched">
                        New password is required
                    </mat-error>
                </mat-form-field>

                <button type="submit" [disabled]="passForm.invalid || isLoading"
                        class="btn btn-block btn-primary btn-lg mt-4">
                    <span *ngIf="!isLoading" i18n>Confirm</span>
                    <span *ngIf="isLoading"><i class="fas fa-spinner fa-spin"></i></span>
                </button>
            </form>
        </ng-template>
        <ng-template [ngIf]="!code">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <mat-form-field class="w-100">
                    <input type="email" matInput i18n-placeholder placeholder="Email" formControlName="email">
                  
                    <mat-error i18n *ngIf="form.get('email').errors?.required">
                        Email is required
                    </mat-error>
                    <mat-error i18n *ngIf="form.get('email').errors?.pattern">
                        Invalid email address
                    </mat-error>
                </mat-form-field>

                <button type="submit" [disabled]="form.invalid || isLoading"
                        class="btn btn-block btn-primary btn-lg mt-4">
                    <span *ngIf="!isLoading" i18n>Reset</span>
                    <span *ngIf="isLoading"><i class="fas fa-spinner fa-spin"></i></span>
                </button>
            </form>
        </ng-template>
    </div>
</div>
