<div class="card shadow card-noborder">
    <div class="card-body">
        <div class="card-titlebox">
            <h1 class="card-title">New Category</h1>
            <div>
                <a href="#" [routerLink]="['/admin/super-admin/configs']" class="btn btn-primary">Cancel</a>
            </div>
        </div>
        <div class="card-content">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <mat-form-field class="w-100">
                    <input matInput placeholder="Category Name" formControlName="name">
                    <mat-error *ngIf="form.get('name').invalid && form.get('name').touched">
                        Category name is required
                    </mat-error>
                </mat-form-field>


                <label>Please upload category image</label>
                <div style="width:150px;" class="m-auto text-center">
                    <ng-template [ngIf]="form.get('picture').value">
                        <img width="150" height="150" class="rounded-circle"
                             [src]="form.get('picture').value | s3Storage" alt="">
                        <button class="btn btn-sm btn-outline-primary mt-3"
                                (click)="$event.preventDefault(); form.get('picture').setValue('')">Try another
                        </button>
                    </ng-template>
                    <ng-template [ngIf]="!form.get('picture').value">
                        <app-file-upload [file]="form.get('picture').value"
                                         (onFinish)="form.get('picture').setValue($event)"></app-file-upload>
                    </ng-template>
                </div>
                <button class="btn btn-block btn-primary btn-lg mt-4" [disabled]="form.invalid || isLoading"
                        type="submit">
                    <span *ngIf="!isLoading">Submit</span>
                    <span *ngIf="isLoading"><i class="fas fa-spinner fa-spin"></i></span>
                </button>
            </form>
        </div>
    </div>
</div>
