.teachers-top {
  margin-top: 48px;
}
h2 {
  font-size: 21px;
}

.teachers-page {
  max-width: 1500px;
  margin: 0 auto;
  background-color: white;
  clear: both!important;
  padding-bottom: 100px;
  .teachers-banner {
    height: 154px;
    background-color: #e1db9c; 
    justify-content: center;
    text-align: center;
    h1 {
      font-size: 32px;
      font-weight: 700;
      color: #28B7A8;
      letter-spacing: 0.27px;
    }
    h3 {
      font-size: 24px;
      line-height: 40px;
      color: #ffffff;
      font-family: "Marker Felt", "Berlin Sans FB";
    }
  }
}