<div class="about-us-page">
  <div class="about-banner d-flex align-items-center">
      <h1 i18n>About</h1>
  </div>
  <!--start nicdark_container-->
  <div class="section-dvm">
    <div class="section-dvm-title">
      <h2>Our Philosophy</h2>
    </div>
    <p>
      At Bilin Academy, we support the <span style="color: #28B7A8">​approach of content and language integrated learning (CLIL​)</span>​, commit to ​<span style="color: #28B7A8">creating enjoyable learning experiences</span>​, and believe in​ <span style="color: #28B7A8">​educational innovation</span>​.
    </p>
    <p>We work to connect passionate​, ​dedicated teachers with little learners across continents. We
      develop unique and creative online classes to cultivate our next generation into multilingual
      global citizens
    </p>
  </div>
  <div class="section-dvm">
    <div class="section-dvm-title">
      <h2>Our Founding</h2>
    </div>
    <p>
      Bilin Academy (formerly Bilin Studio) started as an experiment, offering online drawing classes
      in English to children in China. We believe by incorporating language learning into drawing
      lessons, children can acquire the target language naturally in a fun and engaging environment.
      In the past two years, we have created more than 30 different series of drawing classes with
      varied topics and different levels, taught in both English and Mandarin. We are continuing to
      expand our class offerings by collaborating with other extracurricular schools to provide
      calligraphy, chess, go classes, and much more. Now we have students from the US, China,
      Singapore, the UK, Japan, and other countries, all connecting and learning together in the same
      virtual classroom.
    </p>
  </div>
  <div class="section-dvm">
    <div class="section-dvm-title">
      <h2>Our Classes</h2>
    </div>
    <p>
      We strive for creative, effective,​ ​and engaging class experiences. We choose topics that are
      interesting to kids yet unique. We keep our classes small to ensure there is plenty of interaction
      between students and teachers.
    </p>
    <p>
      We value our teachers as our greatest assets​ ​in providing professional knowledge and creating
      great learning experiences for our students.
    </p>
    <p>
      We partner with other organizations to provide quality online classes as well. Our partners bring
      their expertise and an added variety of subjects.
    </p>
  </div>
  <div class="section-dvm">
    <div class="button">
      <div class="check-class">
        <a href="#" [routerLink]="['/courses']">Check out our classes now!</a>
      </div>
    </div>
    <p>If you are interested in partnership or becoming a teacher, <a href="#" [routerLink]="['/contact-us']">Contact Us.</a></p>
  </div>
</div>

