<div class="about-us-page">
    <div class="about-banner d-flex align-items-center">
        <h1 i18n>FAQ</h1>
    </div>
    <!--start nicdark_container-->
    <div class="section-dvm">
        <div class="section-dvm-title">
            <h2 i18n>How Do Credits Work?
            </h2>
        </div>
        <p class="content" i18n>
            1 credit = $1 (ex. If a class costs 20 credits/session, you will pay $20 for each class session).
        </p>
        <p class="content" i18n>
            We will give you 20 free credits when you first create an account.
        </p>
        <p class="content" i18n>
            You will have to purchase credits before you can register for a class. Your credits will never expire. The
            credit system allows customers to change classes, cancel classes (before 24 hours), or save the credits for
            future use.
        </p>
    </div>
    <div class="section-dvm">
        <div class="section-dvm-title">
            <h2 i18n>How Do I Register for a Class?
            </h2>
        </div>
        <p class="content" i18n>
            1. Click the Enroll button to register a class.
        </p>
        <p class="content" i18n>
            2. If you don’t have enough credits to pay for the class, you will be directed to the purchase credits page.
            Purchase the amount of credits you need, and then go back to the class page and click Enroll.
        </p>
    </div>
    <div class="section-dvm">
        <div class="section-dvm-title">
            <h2 i18n>How Do I Purchase a Class package?
            </h2>
        </div>
        <p class="content" i18n>
            1. Click the Enroll button to purchase a class package.
        </p>
        <p class="content" i18n>
            2. Your remaining credits will be applied to your balance when you pay.
        </p>
        <p class="content" i18n>
            3. We will set up the class in your Bilin Academy account or on ClassIn after we receive your payment prior
            to the start of class.
        </p>
    </div>
    <div class="section-dvm">
        <div class="section-dvm-title">
            <h2 i18n>
                How Do I Join the Class?
            </h2>
        </div>
        <div class="virtual bold" i18n>
            We use two virtual platforms for our classes:
        </div>
        <div class="subtittle">
            <span><img src="assets/img/ClassIn.png"></span>
            <span id="classin" i18n> ClassIn Platform Classes</span>
        </div>
        <p class="content" i18n>
            If you are taking <span class="bold">Go/Weiqi Class, Calligraphy Class</span> or <span class="bold">Japanese Class</span>, follow these steps:
        </p>
        <br>       
        <p class="content" i18n>
            1. <a href="https://www.classin.com/en/download.html">Download ClassIn</a> on the device you will use for
            the class.
        </p>
        <p class="content" i18n>
            2. Create an account on ClassIn with your cell phone and then send the same number to Bilin Academy’s WeChat
            (WeChat ID: bilinstudio) or to
            <a href="mailto:learn@bilinacademy.com">learn@bilinacademy.com</a>.

        </p>
        <p class="content" i18n>
            3. Log in to the ClassIn App and you will see your classes listed. Click “Enter” to join the class.
        </p>
        <br>
        <div class="subtittle">
            <span><img src="assets/img/zoom.png"></span>
            <span id="zoom" i18n> Zoom Platform Classes</span>
        </div>

        <p class="content" i18n>
            If you are taking art class, design class, chess class, English class, speech class, or any other class that
            is not specified above, follow these steps:
        </p>
        <br>
        <p class="content" i18n>
            1. <a href="https://zoom.us/client/latest/Zoom.pkg">Download Zoom </a>on the device you will use for class.
        </p>
        <p class="content" i18n>
            2. Go to your “My Account” page and you will see the classes you have enrolled in listed. Click “Enter the
            Classroom.” Follow any links to join the zoom class meeting.
        </p>
        <p class="content" i18n>
            3. Click “Enter the Classroom”. Follow any links to join the class.
        </p>
      
        <br>
    </div>
    <div class="section-dvm">
        <div class="section-dvm-title">
            <h2 i18n>
                What if I want to cancel a session?
            </h2>
        </div>
        <p class="content" i18n>
            You can cancel a session anytime prior to 24 hours before the start of class and get a credit refund. </p>
        <p class="content" i18n>
            Go to the class enrollment page, click the box in front of the session you want to cancel, and then click
            Cancel. </p>
        <p class="content" i18n>
            We will refund the credits for the cancellation. Missed sessions will not be refunded.
        </p>

    </div>

    <!--<div class="section-dvm" #howtocancel>-->
    <div class="section-dvm" id="howtocancel">
        <div class="section-dvm-title">
            <h2 id="cancel" i18n>
                What if I want a refund for my credits? 
            </h2>
        </div>
        <p class="content" i18n>
            You can request a refund for your remaining credits. You can send a refund request to Bilin Academy’s WeChat (WeChat ID: bilinstudio) or to <a
                href="mailto:learn@bilinacademy.com">learn@bilinacademy.com</a>.          
        </p>
    </div>  
</div>