h1{
  font-size: 1.5rem;
  color: black;
  margin-bottom: 2rem;
  font-weight: bold;
}

h2{
  color: black;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

p{
  color: black;
  margin-bottom: .25rem;
}

.form{
  max-width: 400px;
  margin: auto;
  text-align: left;
  color: black;
}
