<div class="card-titlebox">
    <h1 class="card-title">SA: Schools</h1>
    <div>
        <button (click)="add()" class="btn btn-primary">Add New</button>
    </div>
</div>
<div class="card-content">
    <div *ngIf="schools; else loading">
        <div *ngIf="schools.length; else nodata">

            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Admin</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of schools">
                    <th scope="row">{{ item.auto_id }}</th>
                    <td>{{item.name}}</td>
                    <td>
                        <a *ngIf="item.admin" href="#"
                           [routerLink]="['/admin/users', item.admin._id]"><strong>{{item.admin?.name}}</strong></a>
                    </td>
                    <td class="text-right">
                        <button class="btn btn-info btn-sm mr-3" (click)="viewTeachers(item._id)">View teachers</button>
                        <button class="btn btn-danger btn-sm" (click)="delete(item._id)">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-center">
                <ul *ngIf="pager.totalPages && pager.totalPages > 0" class="pagination">
                    <li [ngClass]="{disabled:currentPage === 1}" class="page-item first-item">
                        <a (click)="getData(1)" class="page-link" style="cursor: pointer">First</a>
                    </li>
                    <li [ngClass]="{disabled:currentPage === 1}" class="page-item previous-item">
                        <a (click)="getData(currentPage - 1)" style="cursor: pointer"
                           class="page-link">‹‹</a>
                    </li>
                    <li class="page-item number-item">
                        <a *ngIf="has_previous_five_page" class="page-link">...</a>
                    </li>
                    <li *ngFor="let page of pagination_pages" [ngClass]="{active:currentPage === page}"
                        class="page-item number-item">
                        <a (click)="getData(page)" class="page-link" style="cursor: pointer">{{page}}</a>
                    </li>
                    <li class="page-item number-item">
                        <a *ngIf="has_next_five_page" class="page-link">...</a>
                    </li>
                    <li [ngClass]="{disabled:currentPage === pager.totalPages}"
                        class="page-item next-item">
                        <a (click)="getData(currentPage + 1)" style="cursor: pointer"
                           class="page-link">››</a>
                    </li>
                    <li [ngClass]="{disabled:currentPage === pager.totalPages}"
                        class="page-item last-item">
                        <a (click)="getData(pager.totalPages)" style="cursor: pointer" class="page-link">Last</a>
                    </li>
                </ul>
            </div>
        </div>
        <ng-template #nodata>
            <div class="p-5 text-center">
                <span class="h3">No data</span>
            </div>
        </ng-template>
    </div>
    <ng-template #loading>
        <mat-spinner></mat-spinner>
    </ng-template>
</div>
