@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url('assets/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url('assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url('assets/fonts/Varela_Round/VarelaRound-Regular.ttf') format('truetype');
}
@font-face {font-family: "Marker Felt"; 
  src: url("assets/fonts/Marker-Felt/font-face/DSMarkerFelt.eot"); src: url("assets/fonts/Marker-Felt/font-face/DSMarkerFelt.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Marker-Felt/font-face/DSMarkerFelt.woff2") format("woff2"), url("assets/fonts/Marker-Felt/font-face/DSMarkerFelt.woff") format("woff"), url("assets/fonts/Marker-Felt/font-face/DSMarkerFelt.ttf") format("truetype"), url("assets/fonts/Marker-Felt/font-face/DSMarkerFelt.svg#DS Marker Felt") format("svg"); 
}

