<div class="card shadow card-noborder">
    <div class="card-body">
        <div class="card-titlebox">
            <h1 class="card-title">Package Enrollments ({{pager.totals || 0}})</h1>
            <div>
                <a href="#" class="btn btn-primary" [routerLink]="['/admin/packages']" style="margin-right: 8px;">Go Packages</a>
                <a href="#" class="btn btn-primary" [routerLink]="['/admin/packages/', bundleid, 'enrollments', 'new']">Add new</a>
                <button (click)="search()" class="btn btn-primary ml-2"><i class="fas fa-search mr-1"></i> Search
                </button>
                <button [disabled]="currentFilter.field ==='' && currentFilter.value === ''" (click)="clearSearch()"
                        class="btn btn-info ml-2"><i
                        class="fas fa-times mr-1"></i> Clear Search
                </button>
            </div>
        </div>
        <div class="card-content">
            <div>
                <div *ngIf="enrollments; else loading">
                    <div *ngIf="enrollments.length; else nodata">

                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Course</th>
                                <th>Package</th>
                                <th>Student</th>
                                <th>Teacher</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--<tr *ngFor="let item of enrollments | paginate: { itemsPerPage: totalItemsPerPage, currentPage: currentPage }; let i = index;">-->
                            <tr *ngFor="let item of enrollments">

                                <th scope="row">{{ item.auto_id }}</th>
                                <td>
                                    <a href="#" [routerLink]="['/admin/courses', item.course]">{{item.course_name}}</a>
                                </td>
                                <td>
                                    <a href="#" [routerLink]="['/admin/courses', item.course, 'package', item.bundle._id]">{{item.bundle.bundle_title}}</a>
                                </td>
                                <td>
                                    <a href="#" [routerLink]="['/admin/users', item.student_family]">{{item.student_family_name}}
                                        ({{item.student_name}})</a>
                                </td>
                                <td>
                                    <a href="#" [routerLink]="['/admin/users', item.teacher]">{{item.teacher_name}}</a>
                                </td>
                                <td>{{item.state | state}}</td>
                                <td class="text-right" style="white-space: nowrap">
                                    <button *ngIf="item.state === State.Active" class="btn btn-secondary btn-sm mr-2"
                                            (click)="cancel(item._id)">Cancel
                                    </button>
                                    <button [disabled]="item.state === State.Active" class="btn btn-danger btn-sm"
                                            (click)="delete(item._id)">Delete
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="text-center">
                            <ul *ngIf="pager.totalPages && pager.totalPages > 0" class="pagination">
                                <li [ngClass]="{disabled:currentPage === 1}" class="page-item first-item">
                                    <a (click)="getData(1)" class="page-link" style="cursor: pointer">First</a>
                                </li>
                                <li [ngClass]="{disabled:currentPage === 1}" class="page-item previous-item">
                                    <a (click)="getData(currentPage - 1)" style="cursor: pointer"
                                       class="page-link">‹‹</a>
                                </li>
                                <li class="page-item number-item">
                                    <a *ngIf="has_previous_five_page" class="page-link">...</a>
                                </li>
                                <li *ngFor="let page of pagination_pages" [ngClass]="{active:currentPage === page}"
                                    class="page-item number-item">
                                    <a (click)="getData(page)" class="page-link" style="cursor: pointer">{{page}}</a>
                                </li>
                                <li class="page-item number-item">
                                    <a *ngIf="has_next_five_page" class="page-link">...</a>
                                </li>
                                <li [ngClass]="{disabled:currentPage === pager.totalPages}"
                                    class="page-item next-item">
                                    <a (click)="getData(currentPage + 1)" style="cursor: pointer"
                                       class="page-link">››</a>
                                </li>
                                <li [ngClass]="{disabled:currentPage === pager.totalPages}"
                                    class="page-item last-item">
                                    <a (click)="getData(pager.totalPages)" style="cursor: pointer" class="page-link">Last</a>
                                </li>
                            </ul>
                            <!--<pagination-controls nextLabel="" previousLabel ="" (pageChange)="currentPage = $event"></pagination-controls>-->
                        </div>

                    </div>
                    <ng-template #nodata>
                        <div class="p-5 text-center">
                            <span class="h3">No data</span>
                        </div>
                    </ng-template>
                </div>
                <ng-template #loading>
                    <mat-spinner></mat-spinner>
                </ng-template>
            </div>
        </div>
    </div>
</div>
